/**
 *  CSS for ".github/css-sandbox--inline-containers/inline-containers--demo.html"
 */

:root {
    --code-font-family: monospace;
}

body {
    min-width: 340px;
}

.nav-content h1 {
    margin: 0;
    padding-top: 7px;
    color: var(--navbar-text-color);
    font-size: 2em;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}

.header h1 {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}

code {
    font-size: 0.8em;
    color: var(--navbar-background-color) !important;
}

.item {
    display: grid;
    place-items: center;
    color: var(--navbar-background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--selected-background-color);
    background-color: var(--snippet-background-color);
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-family: monospace;
}
.rest {
    font-family: cursive;
}
img {
    border-width: 1px;
    border-style: solid;
    border-color: var(--selected-background-color);
    border-radius: 3px
}

.width-85 {
    width: 85px;
}
.width-100 {
    width: 100px;
}
.width-120 {
    width: 120px;
}
.width-150 {
    width: 150px;
}

/* *************************************************************** */
/* ***************** Left-Aligned Containers: ******************** */

.left-aligned-container {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--navbar-background-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, auto) min-content min-content min-content min-content;
    gap: 5px;
    overflow: hidden;
    direction: rtl;
}

/* ***************** Left-Aligned Inline Containers (ascending): ******************** */

.left-aligned-inline-container-ascending {
    container-type: inline-size;
    container-name: inline-ascending;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--link-color-active);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, auto) min-content min-content min-content min-content;
    gap: 5px;
    overflow: hidden;
    direction: rtl;
}
@container inline-ascending (width < 780px) {
    .left-aligned-inline-container-ascending :nth-child(5) {
        display: none;
    }
}
@container inline-ascending (width < 675px) {
    .left-aligned-inline-container-ascending :nth-child(4) {
        display: none;
    }
}
@container inline-ascending (width < 550px) {
    .left-aligned-inline-container-ascending :nth-child(3) {
        display: none;
    }
}
@container inline-ascending (width < 400px) {
    .left-aligned-inline-container-ascending :nth-child(2) {
        display: none;
    }
}

/* ***************** Left-Aligned Inline Containers (descending): ******************** */

.left-aligned-inline-container-descending {
    container-type: inline-size;
    container-name: inline-descending;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--link-color-active);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, auto) min-content min-content min-content min-content;
    gap: 5px;
    overflow: hidden;
    direction: rtl;
}
@container inline-descending (width < 780px) {
    .left-aligned-inline-container-descending :nth-child(2) {
        display: none;
    }
}
@container inline-descending (width < 675px) {
    .left-aligned-inline-container-descending :nth-child(3) {
        display: none;
    }
}
@container inline-descending (width < 550px) {
    .left-aligned-inline-container-descending :nth-child(4) {
        display: none;
    }
}
@container inline-descending (width < 400px) {
    .left-aligned-inline-container-descending :nth-child(5) {
        display: none;
    }
}

/* **************************************************************** */
/* ***************** Right-Aligned Containers: ******************** */

.right-aligned-container {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--navbar-background-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, auto) min-content min-content min-content min-content;
    gap: 5px;
    overflow: hidden;
    direction: ltr;
}

/* ***************** Right-Aligned Inline Containers (ascending): ******************** */

.right-aligned-inline-container-ascending {
    container-type: inline-size;
    container-name: right-inline-ascending;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--link-color-active);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, auto) min-content min-content min-content min-content;
    gap: 5px;
    overflow: hidden;
    direction: ltr;
}
@container right-inline-ascending (width < 780px) {
    .right-aligned-inline-container-ascending :nth-child(5) {
        display: none;
    }
}
@container right-inline-ascending (width < 675px) {
    .right-aligned-inline-container-ascending :nth-child(4) {
        display: none;
    }
}
@container right-inline-ascending (width < 550px) {
    .right-aligned-inline-container-ascending :nth-child(3) {
        display: none;
    }
}
@container right-inline-ascending (width < 400px) {
    .right-aligned-inline-container-ascending :nth-child(2) {
        display: none;
    }
}

/* ***************** Right-Aligned Inline Containers (descending): ******************** */

.right-aligned-inline-container-descending {
    container-type: inline-size;
    container-name: right-inline-descending;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--link-color-active);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, auto) min-content min-content min-content min-content;
    gap: 5px;
    overflow: hidden;
    direction: ltr;
}
@container right-inline-descending (width < 780px) {
    .right-aligned-inline-container-descending :nth-child(2) {
        display: none;
    }
}
@container right-inline-descending (width < 675px) {
    .right-aligned-inline-container-descending :nth-child(3) {
        display: none;
    }
}
@container right-inline-descending (width < 550px) {
    .right-aligned-inline-container-descending :nth-child(4) {
        display: none;
    }
}
@container right-inline-descending (width < 400px) {
    .right-aligned-inline-container-descending :nth-child(5) {
        display: none;
    }
}
