/*
 *  This CSS contains the styles for the root (index.html) release-catalog page
 */
:root {
    --major-group-border: 3px dashed green;
}

.top-nav {
    height: 44px;
}
.nav-content h1 {
    margin: 0;
    padding-top: 6px;
    color: var(--navbar-text-color);
    font-size: 2em;
}

.title span {
    font-family: monospace; font-weight: 600;
}

.title a {
    float: right;
    margin-right: 10px;
    padding-top: 0px;
}
/*
.title a:hover img {
    src: resource-files/git-hub-logo--white.svg
}
TODO: play with hover-image like it's described here: https://stackoverflow.com/questions/18813299/changing-image-on-hover-with-css-html
*/


h2 {
    font-size: 1.5em;
}
.release-catalog-section {
    margin-bottom: 2em;
}

/* ------------------------ ------------------------ Major Grid ------------------------ ------------------------ */

.major-grid-container {
    position: relative;
}

.major-grid-title-row-over {
    top: 0;
    right: 25px;
    display: grid;
    background: white;
    width: calc(100% - 25px);
    grid-template-columns: 75px 65px 50px 250px auto;
    position: absolute;
    z-index: 3;
}
.major-grid-title-row {
    display: grid;
    grid-template-columns: 75px 65px 50px 250px auto;
}
.major-grid-commit-row {
    display: grid;
    grid-template-columns: 75px 65px 50px 120px auto 25px;
}

.major-grid-title-row-over .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    border-top-left-radius: 10px;
    background-color: #4D7A9733; /*var(--navbar-background-color);*/
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.major-grid-title-row-over .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.major-grid-title-row .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    border-top-left-radius: 10px;
    background-color: #4D7A9733; /*var(--navbar-background-color);*/
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.major-grid-title-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.major-grid-commit-row .col-4 {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.major-grid-commit-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
}
.major-grid-commit-row .col-4-last {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.major-grid-commit-row .col-5-last {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
}

.major-grid-commit-row .col-6 {
    text-align: right;
    padding-right: 6px;
    border-right: 2px solid var(--navbar-background-color);
}

.col-1 {
    text-align: right;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
}
.col-2 {
    text-align: left;
    border-left: 1px dotted blue;
    border-right: 1px dotted blue;
}
.col-3 {
    text-align: left;
}

.vertical-start {
    border-top: 8px double #eee;
}

hr.vertical-1 {
  width: 0px;
  height: 100%;
  margin-top: 0;
  border: 1px solid #eaeaea;
}
hr.vertical-3 {
  width: 0px;
  height: 100%;
  margin-top: 0;
  border: 2px solid #efefef;
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */

.major-grid-container summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
    border-top-right-radius: 10px;
}
.major-grid-container details[open] > summary {
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
    border-top-right-radius: 10px;
}

.major-grid-container summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('up-down-triangle--jd-navbar.svg') no-repeat;
    background-size: cover;
}
.major-grid-container details[open] > summary::after {
    transform: rotate(180deg);
}
.major-grid-container summary::-webkit-details-marker {
    display: none;
}

/* ------------------------ ------------------------ Minor Grid ------------------------ ------------------------ */

.minor-grid-container {
    position: relative;
}

.minor-grid-title-row-over {
    top: 0;
    right: 25px;
    display: grid;
    background: white;
    width: calc(100% - 25px);
    grid-template-columns: 75px 65px 50px 250px auto;
    position: absolute;
    z-index: 3;
}
.minor-grid-title-row {
    display: grid;
    grid-template-columns: 75px 65px 50px 250px auto;
}
.minor-grid-commit-row {
    display: grid;
    grid-template-columns: 75px 65px 50px 120px auto 25px;
}

.minor-grid-title-row-over .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    background-color: #4D7A9733; /*var(--navbar-background-color);*/
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.minor-grid-title-row-over .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.minor-grid-title-row .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    background-color: #4D7A9733; /*var(--navbar-background-color);*/
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.minor-grid-title-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.minor-grid-commit-row .col-4 {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.minor-grid-commit-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
}
.minor-grid-commit-row .col-4-last {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.minor-grid-commit-row .col-5-last {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
}

.minor-grid-commit-row .col-6 {
    text-align: right;
    padding-right: 6px;
    border-right: 2px solid var(--navbar-background-color);
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */

.minor-grid-container summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
}
.minor-grid-container details[open] > summary {
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
}

.minor-grid-container summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('up-down-triangle--jd-navbar.svg') no-repeat;
    background-size: cover;
}
.minor-grid-container details[open] > summary::after {
    transform: rotate(180deg);
}
.minor-grid-container summary::-webkit-details-marker {
    display: none;
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */
/* ------------------------ ------------------------ ------------------------ ------------------------ */
/* ------------------------ ------------------------ ------------------------ ------------------------ */

.current-snapshot {
    margin-bottom: 5px;
}
.current-minor-groups {
    border: 3px dashed blue;
    margin-bottom: 5px;
}
.major-group {
    border: 3px dotted magenta;
    margin-bottom: 5px;
}

.major-group-date-time {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    width: 210px;
}
.snapshot-group-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    display: inline-block;
    width: 210px;
}
.minor-group-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    display: inline-block;
    width: 210px;
}
.commit-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.8rem;
    display: inline-block;
    width: 210px;
}

.major-group-version {
    display: inline-block;
    width: 150px;
}
.snapshot-group-version {
    border-top-left-radius: 10px;
    border-top: var(--major-group-border);
    border-left: var(--major-group-border);
    font-size: 0.9rem;
    display: inline-block;
    width: 250px;
}
.minor-group-version {
    font-size: 0.9rem;
    display: inline-block;
    width: 150px;
}
.commit-ID {
    font-size: 0.9rem;
    display: inline-block;
    width: 100px;
}
.commit-ID a {
    color: #59636e;
    text-decoration: none;
}
.commit-ID a:hover {
    color: ##0969da;
    text-decoration: underline;
}

.major-group-info {
    border-top-right-radius: 10px;
    border-top: var(--major-group-border);
    border-right: var(--major-group-border);
    font-size: 1rem;
}
.snapshot-group-info {
    border-top-right-radius: 10px;
    border-top: var(--major-group-border);
    border-right: var(--major-group-border);
    font-size: 0.9rem;
}
.minor-group-info {
    font-size: 0.9rem;
}
.commit-message {
    font-size: 0.8rem;
}
