/*
 *  This CSS contains the styles for the root (index.html) release-catalog page
 */
:root {
    --major-group-border: 3px dashed green;
    --release-title-background-color: #4D7A9733;
    --release-date-time-color: #4D7A97AA;
}

header {
    z-index: 5;
}
code {
    font-family: monospace;
    font-size: 0.9em !important;
}

.top-nav {
    height: 44px;
}
.nav-content h1 {
    margin: 0;
    padding-top: 6px;
    color: var(--navbar-text-color);
    font-size: 2em;
}
.title span {
    font-family: monospace;
    font-weight: 600;
}
.title a {
    float: right;
    margin-right: 10px;
    padding-top: 0px;
}
/*
.title a:hover img {
    src: resource-files/git-hub-logo--white.svg
}
TODO: play with hover-image like it's described here: https://stackoverflow.com/questions/18813299/changing-image-on-hover-with-css-html
*/


h2 {
    font-size: 1.5em;
}
.release-catalog-section {
    margin-bottom: 2em;
}

.year-and-month {
    text-align: right;
    color: var(--release-date-time-color);
    font-family: var(--body-font-family);
    font-size: 0.95em;
}
.day-of-month-and-week {
    text-align: left;
    color: var(--release-date-time-color);
    font-size: 0.95em;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
}
.hours-and-minutes {
    text-align: left;
    color: var(--release-date-time-color);
    font-family: monospace;
    font-size: 0.7em;
    padding-top: 0.3em;
}

/* ------------------------ ------------------------ Major Grid ------------------------ ------------------------ */

.major-grid-container {
    position: relative;
}

.major-grid-title-row-over {
    position: absolute;
    top: 0;
    right: 35px;
    display: grid;
    background: white;
    width: calc(100% - 35px);
    grid-template-columns: 53px 53px 35px 250px auto;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
}
.major-grid-title-row {
    display: grid;
    grid-template-columns: 53px 53px 35px 250px auto;
    white-space: nowrap;
    overflow: hidden;
    background-color: #AAFFFF;
    padding-right: 10px;
    height: 32px;
    visibility: hidden;
}
.major-grid-commit-row {
    display: grid;
    grid-template-columns: 53px 53px 35px 90px auto 35px;
    white-space: nowrap;
    overflow: hidden;
}

.major-grid-title-row-over .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    border-top-left-radius: 10px;
    background-color: var(--release-title-background-color) ; /*#4D7A9733; /*var(--navbar-background-color);*/
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.major-grid-title-row-over .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.major-grid-title-row .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    border-top-left-radius: 10px;
    background-color: var(--release-title-background-color) ; /*#4D7A9733; /*var(--navbar-background-color);*/
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.major-grid-title-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.major-grid-commit-row .col-4 {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.major-grid-commit-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
}
.major-grid-commit-row .col-4-last {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.major-grid-commit-row .col-5-last {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
}

.major-grid-commit-row .col-6 {
    text-align: center;
    border-right: 2px solid var(--navbar-background-color);
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */

.major-grid-container summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
    border-top-right-radius: 10px;
}
.major-grid-container details[open] > summary {
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
    border-top-right-radius: 10px;
}

.major-grid-container summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('up-down-triangle--jd-navbar.svg') no-repeat;
    background-size: cover;
}
.major-grid-container details[open] > summary::after {
    transform: rotate(180deg);
}
.major-grid-container summary::-webkit-details-marker {
    display: none;
}

/* ------------------------ ------------------------ Minor Grid ------------------------ ------------------------ */

.minor-grid-container {
    position: relative;
}

.minor-grid-title-row-over {
    top: 0;
    right: 35px;
    display: grid;
    background: white;
    width: calc(100% - 35px);
    grid-template-columns: 53px 53px 35px 200px auto;
    position: absolute;
    z-index: 3;
}
.minor-grid-title-row {
    display: grid;
    grid-template-columns: 53px 53px 35px 200px auto;
    height: 32px;
    visibility: hidden;
}
.minor-grid-commit-row {
    display: grid;
    grid-template-columns: 53px 53px 35px 90px auto 35px;
}

.minor-grid-title-row-over .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    background-color: var(--release-title-background-color) ; /*#4D7A9733; /*var(--navbar-background-color);*/
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.minor-grid-title-row-over .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.minor-grid-title-row .col-4 {
    border-top: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    background-color: var(--release-title-background-color) ; /*#4D7A9733; /*var(--navbar-background-color);*/
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.minor-grid-title-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-top: 2px solid var(--navbar-background-color);
    padding-top: 7px;
}

.minor-grid-commit-row .col-4 {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.minor-grid-commit-row .col-5 {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
}
.minor-grid-commit-row .col-4-last {
    border-left: 2px solid var(--navbar-background-color);
    padding-left: 10px;
}
.minor-grid-commit-row .col-5-last {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
}

.minor-grid-commit-row .col-6 {
    text-align: center;
    border-right: 2px solid var(--navbar-background-color);
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */

.minor-grid-container summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
}
.minor-grid-container details[open] > summary {
    padding-right: 7px;
    border-top: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
}

.minor-grid-container summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('up-down-triangle--jd-navbar.svg') no-repeat;
    background-size: cover;
}
.minor-grid-container details[open] > summary::after {
    transform: rotate(180deg);
}
.minor-grid-container summary::-webkit-details-marker {
    display: none;
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */
/* ------------------------ ------------------------ ------------------------ ------------------------ */
/* ------------------------ ------------------------ ------------------------ ------------------------ */

.major-grid-container-footer {
    display: grid;
    grid-template-columns: 53px 53px 35px auto 35px;
    height: 10px;
}
.major-grid-container-footer .col-4-5 {
    background-color: var(--release-title-background-color) ;
    border-top: 1px dotted var(--navbar-background-color);
    border-bottom: 2px solid var(--navbar-background-color);
    border-left: 2px solid var(--navbar-background-color);
    border-bottom-left-radius: 10px;
}
.major-grid-container-footer .col-6 {
    border-bottom: 2px solid var(--navbar-background-color);
    border-right: 2px solid var(--navbar-background-color);
    border-bottom-right-radius: 10px;
}

/* ------------------------ ------------------------ ------------------------ ------------------------ */
/* ------------------------ ------------------------ ------------------------ ------------------------ */
/* ------------------------ ------------------------ ------------------------ ------------------------ */

.current-snapshot {
    margin-bottom: 5px;
}
.current-minor-groups {
    border: 3px dashed blue;
    margin-bottom: 5px;
}
.major-group {
    border: 3px dotted magenta;
    margin-bottom: 5px;
}

.major-group-date-time {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    width: 210px;
}
.snapshot-group-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    display: inline-block;
    width: 210px;
}
.minor-group-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    display: inline-block;
    width: 210px;
}
.commit-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.8rem;
    display: inline-block;
    width: 210px;
}

.major-group-version {
    display: inline-block;
    width: 150px;
}
.snapshot-group-version {
    border-top-left-radius: 10px;
    border-top: var(--major-group-border);
    border-left: var(--major-group-border);
    font-size: 0.9rem;
    display: inline-block;
    width: 250px;
}
.minor-group-version {
    font-size: 0.9rem;
    display: inline-block;
    width: 150px;
}
.commit-ID {
    font-size: 0.9rem;
    display: inline-block;
    width: 100px;
}
.commit-ID a {
    color: #59636e;
    text-decoration: none;
}
.commit-ID a:hover {
    color: ##0969da;
    text-decoration: underline;
}

.major-group-info {
    border-top-right-radius: 10px;
    border-top: var(--major-group-border);
    border-right: var(--major-group-border);
    font-size: 1rem;
}
.snapshot-group-info {
    border-top-right-radius: 10px;
    border-top: var(--major-group-border);
    border-right: var(--major-group-border);
    font-size: 0.9rem;
}
.minor-group-info {
    font-size: 0.9rem;
}
.commit-message {
    font-size: 0.8rem;
}
