/**
 *  This CSS contains the styles for the root (index.html) release-catalog page
 */
:root {
    --major-group-border: 3px dashed green;
}

.current-snapshot {
    margin-bottom: 5px;
}
.current-minor-groups {
    border: 3px dashed blue;
    margin-bottom: 5px;
}
.major-group {
    border: 3px dotted magenta;
    margin-bottom: 5px;
}

.major-group-date-time {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    width: 210px;
}
.snapshot-group-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    display: inline-block;
    width: 210px;
}
.minor-group-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    display: inline-block;
    width: 210px;
}
.commit-date-time {
    text-align: right;
    padding-right: 5px;
    font-size: 0.8rem;
    display: inline-block;
    width: 210px;
}

.major-group-version {
    display: inline-block;
    width: 150px;
}
.snapshot-group-version {
    border-top-left-radius: 10px;
    border-top: var(--major-group-border);
    border-left: var(--major-group-border);
    font-size: 0.9rem;
    display: inline-block;
    width: 250px;
}
.minor-group-version {
    font-size: 0.9rem;
    display: inline-block;
    width: 150px;
}
.commit-ID {
    font-size: 0.9rem;
    display: inline-block;
    width: 100px;
}
.commit-ID a {
    color: #59636e;
    text-decoration: none;
}
.commit-ID a:hover {
    color: ##0969da;
    text-decoration: underline;
}

.major-group-info {
    border-top-right-radius: 10px;
    border-top: var(--major-group-border);
    border-right: var(--major-group-border);
    font-size: 1rem;
}
.snapshot-group-info {
    border-top-right-radius: 10px;
    border-top: var(--major-group-border);
    border-right: var(--major-group-border);
    font-size: 0.9rem;
}
.minor-group-info {
    font-size: 0.9rem;
}
.commit-message {
    font-size: 0.8rem;
}
